body{
    font-family: 'Lato', sans-serif;
}
.grey-color{
    color: grey;
}
.text-size-h1{
    font-size: 40px;
}
.top-banner{
    background-image:url(images/donation0.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 80px 40px;
    box-shadow:50px 80px 500px 50px black inset;
}
.header-text{
    text-align: center;
    color: white;
}
.header-text h1{
    font-size: 80px;
    
}
.anchor-tag{
    font-size: 20px;
    color: white;
    padding: 10px 30px;
    text-decoration: none;
    background-image: linear-gradient(orange, red);
    border-radius: 5px;
}
.donate-today{
    text-align: center;
    margin-top: 150px;
    margin-bottom: 150px;

}
.flex-display{
    display: flex;
    align-items: center;
    justify-content: center;

}
.donate-tk{
    width: 15%;
    font-weight: 900;
    
}
.donate-selection{
    background-color: blanchedalmond;
    border: 1px solid orange;
    padding:50px 10px;
    color: orange;
}
hr{
    width: 50%;
}
.dontion-plan{
    text-align: center;
}
.donation-plan-feature{
    display: flex;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;

}
.feature-width{
    width: 30%;
    
}
.left-feature{
    background-color: rgba(28, 204, 204, 0.315);
    padding: 80px 20px;
    margin-left: 10px;
    border-radius: 5px;
}
.middle-feature{
    background-color: rgba(165, 42, 42, 0.221);
    padding: 80px 20px;
    margin-left: 10px;
    border-radius: 5px;
}
.right-feature{
    background-color: rgba(137, 43, 226, 0.206);
    padding: 80px 20px;
    margin-left: 10px;
    border-radius: 5px;
}
