body{
    font-family: 'Lato', sans-serif;
}
.grey-color{
    color: grey;
}
.text-size-h1{
    font-size: 40px;
}
.text-justify{
    text-align: justify;
}
.top-banner{
    background-image:url(images/donation0.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 80px 40px;
    box-shadow:50px 80px 500px 50px black inset;
}
.header-text{
    text-align: center;
    color: white;
}
.header-text h1{
    font-size: 80px;
    
}
.anchor-tag{
    font-size: 20px;
    color: white;
    padding: 10px 30px;
    text-decoration: none;
    background-image: linear-gradient(orange, red);
    border-radius: 5px;
}
.donate-today{
    text-align: center;
    margin-top: 150px;
    margin-bottom: 150px;

}
.flex-display{
    display: flex;
    align-items: center;
    justify-content: center;

}
.donate-tk{
    width: 15%;
    font-weight: 900;
    
}
.donate-selection{
    background-color: blanchedalmond;
    border: 1px solid #ffa500;
    padding:50px 10px;
    color: orange;
}
hr{
    width: 50%;
}
.dontion-plan{
    text-align: center;
}
.donation-plan-feature{
    display: flex;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;

}
.feature-width{
    width: 30%;
    
}
.left-feature{
    background-color: rgba(28, 204, 204, 0.315);
    padding: 80px 20px;
    margin-left: 10px;
    border-radius: 5px;
}
.middle-feature{
    background-color: rgba(165, 42, 42, 0.221);
    padding: 80px 20px;
    margin-left: 10px;
    border-radius: 5px;
}
.right-feature{
    background-color: rgba(137, 43, 226, 0.206);
    padding: 80px 20px;
    margin-left: 10px;
    border-radius: 5px;
}
.donation-para{
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-bottom: 90px;
  
}
.donation-para-text{
    width: 50%;
    margin-right:20px;
}
.donation-para-img1{
    width: 100%;
    border-radius: 5px;
}
.get-update{
    text-align: center;
}
.pink-background{
    
    width: 60%;
    background-color: pink;
    margin: auto;
    padding: 30px;
    margin-bottom: 100px;
}
.email{
    background-color: rgba(128, 128, 128, 0.158);
    padding: 0px 1px;
    width: 200px;
}
.subscribe{
    background-color: rgba(255, 14, 14, 0.364);
    padding: 0px 1px;
    width: 100px;   
}
.subscribe p{
    color: white;
}
.subscribe-form{
    display: flex;
    justify-content: center;
    padding: 30px;
}
footer{
    background-color: black;
    color: white;
    padding: 30px;
    text-align: center;
}
footer h1{
    font-family: 'Dancing Script', cursive;
    color: rgba(255, 14, 14, 0.831);
}
.community-link{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 80px;
}
.community-icon{
    width: 100px;
    height: 100px;
    display: block;
    margin: auto;
   
}
.community-feature{
    
    width: 20%;
    background-color: rgba(151, 145, 157, 0.387);
    padding: 20px;
    text-align: justify;
    margin-right: 5px;
    border-radius: 10px;
}
.community-feature:hover{
    background-color: rgba(137, 43, 226, 0.726);
}
.community-text{
    font-weight: 700;
    color: #ED1163;
    text-align: center;
}
.center-text{
    text-align: center;
}